Exercícios com o datasets.california

Dado o presente dataset determiar
   - Qual o preço maximo, minimo e médio.
   - Qual a média da população do dataset. 
   - Qual a média do número de quartos para ocupações médias de 1,2,3,4 e 5 pessoas.
   - Que preços médios existem para casas de 20-25, 25-30, 30-35 e 35-40 anos de idade (intervalos de valores)

In [236]:
# Importar módulos necessários

In [237]:
import sklearn.datasets as datasets
import pandas as pd
import numpy as np

In [238]:
# Importar dados para variável

In [239]:
data = datasets.california_housing.fetch_california_housing()

new_data= np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)

In [240]:
# Qual o preço maximo, minimo e médio

In [241]:
names= data.feature_names + ["Preços"]
dframe= pd.DataFrame(data= new_data, columns= names)
price= dframe.loc[0:,["Preços"]]
price.aggregate(['max','min','mean'])

             Preços
max   500001.000000
min    14999.000000
mean  206855.816909

In [242]:
# Qual a média da população do dataset

In [243]:
populacao = dframe.loc[0:,["Population"]]
populacao.aggregate(['mean'])

       Population
mean  1425.476744

In [244]:
# Qual a média do número de quartos para ocupações médias de 1, 2, 3, 4 e 5 pessoas.

In [245]:
AveOccup= dframe.loc[dframe["AveOccup"].isin([1,2,3,4,5])]
AveOccup.loc[0:,["AveRooms"]]

        AveRooms
328     4.880702
1284    3.823308
1484    4.577236
1867   23.888889
1903   11.679878
2564    5.333333
2907    5.425993
3009    3.971831
3126    1.000000
3682    4.878788
4122    3.043956
4609    1.972644
4968    3.377922
5182    3.670330
5318    5.494845
5341    4.571429
5618    2.565217
5744    4.486280
6089    6.045918
6172    5.161172
6450    6.537459
6881    4.085271
6967    4.297357
7367    4.444795
8395    6.900000
8474    4.751563
8723    5.496933
8875    8.948148
9052    5.714286
9231    5.661972
...          ...
11468   5.263926
11605  10.500000
11700   5.071698
11890   4.778689
11950   5.901381
12286   3.000000
12371  13.408082
12408   5.207101
12467   5.233184
12642   5.170819
13069   4.098667
13294   6.018692
13313   4.231810
13979  14.000000
14059   4.278926
14486   8.267327
14799   3.744828
15293   6.626566
15444   5.036398
15463   5.268041
17071   5.041096
17309   4.474820
17788   4.488027
18210   4.500000
18516   5.264840
18578   4.214751
18944   6.770492
19444   5.023684
19784   7.911111
20038   4.845921

[63 rows x 1 columns]

In [253]:
# Que preços médios existem para casas de 
# 20 - 25, 25 - 30, 30 - 35 e 35 - 40 anos de idade

In [252]:
print("De 20 a 25 anos")

ano20 = dframe[(dframe['HouseAge'] >= 20) & (dframe['HouseAge'] <= 25)]
ano20.loc[0:,["Preços"]].aggregate(['mean'])

De 20 a 25 anos

             Preços
mean  206561.001428

In [264]:
print("De 25 a 30 anos")

anos25= dframe[(dframe['HouseAge'] >= 25) & (dframe['HouseAge'] <= 30)]
anos25.loc[0:,["Preços"]].aggregate(['mean'])

De 25 a 30 anos

             Preços
mean  207839.542681

In [265]:
print("De 30 a 35 anos")

anos30= dframe[(dframe['HouseAge'] >=30) & (dframe['HouseAge'] <= 35)]
anos30.loc[0:,["Preços"]].aggregate(['mean'])

De 30 a 35 anos

             Preços
mean  206504.653433

In [267]:
print("De 35 a 40 anos")

anos35= dframe[(dframe['HouseAge'] >=35) & (dframe['HouseAge'] <= 40)]
anos35.loc[0:,["Preços"]].aggregate(['mean'])

De 35 a 40 anos

             Preços
mean  206067.951672